@{
	ViewData["title"] = "Trang chủ quản trị viên";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["title"]</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">
	
	<!-- FontAwesome JS-->
	<script defer src="~/AdminContent/plugins/fontawesome/js/all.min.js"></script>
	
	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="~/AdminContent/css/portal.css">
</head>

<body class="app">
	<header class="app-header fixed-top">
		<!-- header -->
		@await Html.PartialAsync("_HeaderPartial.cshtml")
		
		<!-- side bar -->
		@await Html.PartialAsync("_SideBarPartial.cshtml")
	</header><!--//app-header-->
	
	<!-- content -->
	<div class="app-wrapper">
		<!-- render body -->
		@RenderBody()

		<!-- footer -->
		@await Html.PartialAsync("_FooterPartial.cshtml")
	</div><!--//app-wrapper-->

	<!-- Javascript -->
	<script src="~/AdminContent/plugins/popper.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Page Specific JS -->
	<script src="~/AdminContent/js/app.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>

