<footer class="app-footer">
	<div class="container text-center py-3">
		<small class="copyright">
			Designed with <span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i> 
			by <a class="app-link" href="https://www.facebook.com/profile.php?id=100048525755934" target="_blank">Trần Huy Hoàng</a>
		</small>
	</div>
</footer><!--//app-footer-->