@using LaptopShop.Models.EF;
@model List<Product>
@{
    ViewData["Title"] = "Products";
}
<h1>Products</h1>
@foreach (var item in Model)
{
                    <div class="col-4">
                            <img src="/img/laptops/@item.Image" class="img-fluid" alt="" />
                            <h4>@item.Name</h4>
                            <div>
            @Html.Raw(item.Description)
                            </div>
                            <p>
            @item.Price.ToString("C2")
                            </p>
                            <p>
                                    <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.ProductId">Add to cart</a>
                            </p>
                    </div>
}